<div class="row content">
    <div class="col-sm-12 col-lg-6">
        <%= image_tag  "workplace.jpg", class: 'home-image' %>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="container block-down">
            <div class="jumbotron">
                <h1 class="display-3">O APP criado para organizar a agenda de seus clientes</h1>
                <p class="lead">Jumbo helper text</p>
                <hr class="my-2">
                <p class="lead">
                    <%= link_to  "Clientes", '', class: 'btn btn-02 btn-lg' %>
                    <%= link_to  "Contatos", '', class: 'btn btn-02 btn-lg' %>
                </p>
            </div>
        </div>
    </div>
</div>