/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 :root {
  --color-background: #e0e1dd;
  --color-dark-01: #0d1b2a;
  --color-dark-02: #1b263b;
  --color-gray-01: #415a77;
  --color-gray-02: #778da9;
  --color-white: #ffffff;
  --color-button: #f6ae2d;
  font-size: 80%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100vw;
    height: 100vh;
}

body {
    background: var(--color-background);
}

:root{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header{
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-01);
  border-block-color: var(--color-dark-02);

  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 0.2rem 0;
}

.display-3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.logo-image{
    
    max-width: 128px;
    width: 12.2rem;
}

@media (min-width: 700px){
  .page-header{
    display: inline-block;
    flex-direction: row;
    background-color: var(--color-dark-01);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    max-height: 15vh;
  }

  .logo-image{
    margin-left: 2rem;
    max-width: 92px;
    width: 12.2rem;
  }

  .home-image{
    width: 100vw;
    opacity: 30%;
    flex: 1;
    background-size: ccover;
    max-height: 85vh;
  }

}

.alert {
  font-size: 2rem !important;
}

.login-container{
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
  flex: 0;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}