/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 :root {
  --color-background: #e0e1dd;
  --color-dark-01: #0d1b2a;
  --color-dark-02: #1b263b;
  --color-gray-01: #415a77;
  --color-gray-02: #778da9;
  --color-white: #ffffff;
  --color-button: #f6ae2d;
  font-size: 80%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

:root{
    display: flex;
    align-items: center;
    justify-content: center;
}