// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.padd{
    margin: 1.2rem
}

.font-change{
    font-size: 1.6rem;
}

.title{
    display: flex;
    justify-content: start;
    align-items: center;
}